
<div class="container p-4">
    <div class="row p-3">
        <div class="col-6">
            <h1>List of Order</h1>
        </div>
        <div class="col-6">
            <a asp-controller="Order" asp-action="Index" asp-route-status="pending">
                Pending
            </a>
            <a asp-controller="Order" asp-action="Index" asp-route-status="approved">
                Approved
            </a>
            <a asp-controller="Order" asp-action="Index" asp-route-status="underprocess">
                Under Process
            </a>
            <a asp-controller="Order" asp-action="Index" asp-route-status="shipped">
                Shipped
            </a>
            <a asp-controller="Order" asp-action="Index" asp-route-status="all">
                All
            </a>
        </div>
    </div>

</div>
<table id="orderTable" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Order Status</th>
            <th>Order Total</th>
            <th>Actions</th>
        </tr>
    </thead>

</table>

@section scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/Order.js"></script>
    }
